body {
    /* background-color: black;
    color: white; */
    font-family: monospace;
    font-size: 14px;
    padding: 20px;

}

console {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    max-height: 300px;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
}